<h3 class="row">Our Mission</h3>

<div class="mission-text">
  <p>TechYes! is a meetup group designed to be a safe space for people to learn about and discuss diversity issues in tech. Our goal is to create a community where people can discuss their experiences around diversity and inclusion in the tech space and lean on each other for support.</p>
</div>

<h3>Who We Are</h3>

<section class="members">
    <div class="person">
      <img class="person-photo" src="img/elena.jpg" alt="Picture of Elena Washington">
      <ul class="person-details">
        <li class="name">Elena Washington</li>
        <li class="title">Site Reliability Engineer</li>
      </ul>
    </div>
    <div class="person">
      <img class="person-photo" src="img/zirm.jpg" alt="Picture of Andrew Zirm">
      <ul class="person-details">
        <li class="name">Andrew Zirm</li>
        <li class="title">Data Scientist</li>
      </ul>
    </div>
   <div class="person">
    <img class="person-photo" src="img/lucia.png" alt="Picture of Lucia Hoang">
    <ul class="person-details">
      <li class="name">Lucia Hoang</li>
      <li class="title">QA Engineer</li>
    </ul>
  </div>
</section>
<section class="members">
    <div class="person">
      <img class="person-photo" src="img/lv.jpg" alt="Picture of LV">
      <ul class="person-details">
        <li class="name">LV</li>
        <li class="title">QA Engineer</li>
      </ul>
    </div>
    <div class="person">
      <img class="person-photo" src="img/rachel.jpeg" alt="Picture of Rachel Leffel">
      <ul class="person-details">
        <li class="name">Rachel Leffel</li>
        <li class="title">Support Engineer</li>
      </ul>
    </div>
    <div class="person">
      <img class="person-photo" src="img/Adeola.jpeg" alt="Picture of Adeola Oyelola">
      <ul class="person-details">
        <li class="name">Adeola Oyelola</li>
        <li class="title">Associate Corporate Counsel</li>
      </ul>
    </div>
</section>
<section class="members">
    <div class="person">
    <img class="person-photo" src="img/allison.jpeg" alt="Picture of Allison Slater">
    <ul class="person-details">
      <li class="name">Allison Slater</li>
      <li class="title">Learning & Development Initiatives</li>
    </ul>
  </div>
</section>

<div class="about-contact">
  <p>Have questions? Want to get involved?</p>
  <a class="partners" href="contact.html">Contact Us</a>
</div>