 <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <h3 class="contact">Contact</h3>

<section class="contact-section">
  <p>If you’d like to get involved or share feedback about TechYes!, 
  please fill out the form below!</p>
      </div>
    </div>
  </section>

  <div class="contact">
   <li class="btn"><a target="_blank" href="https://goo.gl/forms/aMTySUMEL5CAdSSg2">Contact Us</a></li>
  </div>

  <p>Want updates on our newest events? Join us on Meetup.com!</p>

  <div class="contact-nyc">
   <li class="btn"><a target="_blank" href="https://www.meetup.com/Tech-Yes-Diversity-in-Tech-Meetup">Join Us in NYC</a></li>
  </div>

  <div class="contact-sf">
   <li class="btn"><a target="_blank" href="https://www.meetup.com/TechYesBayArea/">Join Us in SF</a></li>
  </div>

  <p>Is your organization interested in partnering with us?</p>
  <a class="partners" href="partners.html">Check out our Partnerships page</a>
</section>  

</div></div>