
<!-- Intro Start -->

<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <img class="img-me" src="{{site.baseurl}}{{ site.me-img }}" alt="">
            <h2 class=headline>Diversity in Tech Meetup</h2>
            <p>TechYes! is a meetup group designed to be a safe space for people to learn about and discuss diversity issues in tech.</p>
            <ul class="header-btns">
             <li class="btn"><a href="https://goo.gl/forms/aMTySUMEL5CAdSSg2">Get Involved</a></li>
             <li class="btn-outline"><a href="about.html">About Us</a></li>
           </ul>
            <span class="intro-text">{{ content }}</span>
            <a href="#{{ site.pages_list['About'] }}" class="page-scroll">
            </a>
          </div>
        </div>
    </div>
  </div>
</header>

<!-- Intro End -->
