<h3 class="row">Our Partners</h3>

<div class="mission-text">
  <p>Partnerships with diverse organizations help us build our community and promote our mission. We ask that partners help to provide space, create content, or market events. Fill out the form below to contact us about a partnership!</p>
</div>

  <div class="contact">
   <li class="btn"><a target="_blank" href="https://goo.gl/forms/mQxd5SpJbBKlWFcr1">Partner with us</a></li>
  </div>

<section>
    <div class="partners">
      <img class="partner-logo" src="img/greenhouse.png" alt="Greenhouse Logo">
      <img class="partner-logo" src="img/betterment.png" alt="Greenhouse Logo">
    </div>
    <div class="partners">
      <img class="partner-logo" src="img/20shift.png" alt="Greenhouse Logo">
      <img class="partner-logo" src="img/jopwell.png" alt="Greenhouse Logo">
    </div>
</section>