<h3 class="row">Past Events</h3>

<section id="{{ page.section-type }}" class="container content-section text-center timelineevents">
  <div class="row flexbox">
    <div class="col-md-6">
      <ul class="timeline">
        {% for event in site.nyc_events %}
          {% assign loopindex = forloop.index | modulo: 2 %}
          {% capture class %}
          {% endcapture %}

          <li class="{{ class }}">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="{{site.baseurl}}{{ event.image }}" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>{{ event.description }}</h4>
              </div>
              <div class="timeline-body">
                {{ event.date | markdownify }}
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-6">
      <ul class="timeline sf">
        {% for event in site.sf_events %}
          {% assign loopindex = forloop.index | modulo: 2 %}
          {% capture class %}
          {% if loopindex %}
            timeline-inverted
          {% endif %}
          {% endcapture %}

          <li class="{{ class }}">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="{{site.baseurl}}{{ event.image }}" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>{{ event.description }}</h4>
              </div>
              <div class="timeline-body">
                {{ event.date | markdownify }}
              </div>
            </div>
          </li>
        {% endfor %}
        </li>
      </ul>
    </div>
  </div>
</section>