// Variables

// Main color
$primary-color: #F7F7F7;

// Anchor color
$secondary-color: #FF006C;

// Font color
$font-color: #000;

$navbar-text-shadow: true;
$header-text-shadow: true;
$header-background-color: $primary-color;
$intro-text-color: $font-color;
$navbar-color: #FFF;
$navbar-lg-collapse-background-color: #FF006C;
$navbar-lg-background: #FF006C;
$navbar-sm-background-color: $navbar-lg-collapse-background-color;

$social-buttons-color: $secondary-color;
