
<!-- Index Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top"  data-offset="151">

    {% include navigation.html %}

    {% include header.html %}

    {% for event in site.nyc_upcoming limit: 1 %}
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4>{{ event.description }}</h4>
        </div>
        <div class="timeline-body">
          {{ event.date | markdownify }}
          {{ event.paragraph | markdownify }}
        </div>
      </div>
    {% endfor %}

    {% for event in site.sf_upcoming limit: 1 %}
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4>{{ event.description }}</h4>
        </div>
        <div class="timeline-body">
          {{ event.date | markdownify }}
          {{ event.paragraph | markdownify }}
        </div>
      </div>
    {% endfor %}

    {% include footer.html %}

    {% include js.html %}

  </body>
</html>

<!-- Index Layout End -->
